{% extends "base.html" %} 

{% block title %}Home{% endblock %} 

{% block content%}
    <div class="container-fluid">
        <h1>VIRTUAL YOGA COACH</h1>
        <br>
        <div class="row">
          <div class="col-sm-5" >
            <br>
            <p>Benvenuti nella nostra piattaformata di virtual yoga coach! Siamo entusiasti di
                offrirvi la possibilità di praticare yoga comodamente da casa vostra, 
                con sessioni di yoga in diretta. Imparate dal nostro istruttore virtuale e migliorate
                la vostra flessibilità, forza e benessere mentale. Inzia oggi e inizia il
                tuo viaggio verso una vita più equilibrata e salutare. Namaste!"</p>
             <a href="/private-session" class="btn btn-dark btn-lg" role="button" aria-pressed="true">Sessione Privata</a>
          </div>
          <div class="col-sm-7" >
            <img src="../static/img/homepage.png"
            class="img-fluid" alt="Responsive image">
          </div>
        </div>
      </div>
    <br>
{% endblock %}